@import "tailwindcss";

@theme {
  /* Cores oficiais que pediste */
  --color-ester-dark: #2f384b;
  --color-ester-gold: #c4b383;
  --color-ester-blue-dark: #3c6295;
  --color-ester-blue-light: #74b3cf;
  --color-ester-accent: #4884be;

  /* Mapeamento das Fontes */
  --font-cinzel: var(--font-cinzel);
  --font-cormorant: var(--font-cormorant);
}

body {
  background-color: var(--color-ester-dark) !important;
  color: #f8fafc;
  /* FORÇA a fonte Cormorant no corpo para não carregar a padrão */
  font-family: var(--font-cormorant), serif !important;
}

h1, h2, h3, h4, .font-cinzel {
  /* FORÇA a Cinzel nos títulos */
  font-family: var(--font-cinzel), serif !important;
  text-transform: uppercase;
}